@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55; /* text-light */
  --background-rgb: 249, 250, 251; /* background-light */
}

.dark {
  --foreground-rgb: 255, 255, 255; /* text-dark */
  --background-rgb: 0, 0, 0; /* background-dark */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root[class~="dark"] {
  color-scheme: dark;
}
